@use "function" as *;
@use "variable" as *;

.main {
  &-banner {
    height: calc(100vh - 82px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $colorTextLight;
    align-items: center;

    background-image: url("/assets/resources/img/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &-about {
    margin-bottom: 100px;
    display: flex;
    gap: 64px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: $colorBackgroundLight;

    h2 {
      color: $colorTextAccent;
    }
  }

  &-spec {
    padding: 40px 80px;
    margin-bottom: 100px;
    background-color: $colorBackgroundLight;
    border-radius: 24px;

    &-images {
      display: flex;
      justify-content: space-between;
      margin-bottom: 80px;
    }

    &-info {
      width: 60%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        text-align: center;
        color: $colorTextAccent;
      }

      .text {
        margin-bottom: 80px;
      }

      .btn {
        font-size: 32px;
        font-weight: 600;
        line-height: 39px;
        padding: 20px;
        border-radius: 16px;
        margin-bottom: 40px;
      }
    }
  }

  &-metal {
    padding: 40px 80px;
    margin-bottom: 100px;
    background-color: $colorBackgroundLight;
    border-radius: 24px;

    display: flex;
    gap: 120px;

    &-text {
      margin-bottom: 40px;
    }
  }

  &-map {

    padding-top: 80px;
    padding-bottom: 80px;
    background-color: $colorBackgroundLight;

    &-contacts {
      display: flex;
      gap: 32px;
      margin-bottom: 24px;

      > div {
        display: flex;
        gap: 8px;
        align-items: center;
        padding: 8px 12px;
        border-radius: 24px;
        border: 1px solid $colorBackground;
      }
    }
  }
}