<header class="container header">
    <a href="/" class="header-logo">
        <img src="/assets/resources/img/logo-black.svg" alt="logo">
    </a>
<!--    <nav class="header-nav">-->
<!--        <a href="">Металлорукава</a>-->
<!--        <a href="">Рукава Высокого Давления</a>-->
<!--        <a href="">Контакты</a>-->
<!--    </nav>-->
    <div class="header-contacts">
        <a href="mailto:mail@fld.ru">mail@fld.ru</a>
        <a href="tel:+74959844100">+7 495 984 41 00</a>
    </div>
</header>